.upzhu1 h5{
    width: 80%;
    height: 13%;
    margin-left: 12%;
    color: #fb7299;
    margin-top: -8%;

}
.upzhu1 p{
    width: 80%;
    height: 15%;
    color: gray;
    font-size: 10px;
    /* margin-top: -6%; */
    margin-left: -100px;
}