/* 姜霆的高级网页设计与制作大项目 2021-05-10 */
h1,h2,h3,h4,h5,h6,p,ul,form,dl,dd,dt{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
img{
    border: none;
    display: block;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    min-width: 320px;
    /* 不允许用最大宽度max-width */
}